nav {
  background-color: #747bff;
  color: rgba(255, 255, 255, 0.87);
  height: 3rem;

  ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 2rem;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding-right: 3rem;

    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
